[submodule "src/mom"]
	path = src/mom
    url = https://github.com/mom-ocean/MOM5.git
[submodule "src/cice5"]
	path = src/cice5
	url = https://github.com/COSIMA/cice5.git
[submodule "control/1deg_jra55_ryf"]
	path = control/1deg_jra55_ryf
	url = https://github.com/COSIMA/1deg_jra55_ryf.git
[submodule "control/01deg_jra55_ryf"]
	path = control/01deg_jra55_ryf
	url = https://github.com/COSIMA/01deg_jra55_ryf.git
[submodule "control/025deg_jra55_ryf"]
	path = control/025deg_jra55_ryf
	url = https://github.com/COSIMA/025deg_jra55_ryf.git
[submodule "tools/esmgrids"]
	path = tools/esmgrids
	url = https://github.com/DoublePrecision/esmgrids.git
[submodule "src/libaccessom2"]
	path = src/libaccessom2
	url = https://github.com/COSIMA/libaccessom2.git
[submodule "control/1deg_jra55_iaf"]
	path = control/1deg_jra55_iaf
	url = https://github.com/COSIMA/1deg_jra55_iaf.git
[submodule "control/01deg_jra55_iaf"]
	path = control/01deg_jra55_iaf
	url = https://github.com/COSIMA/01deg_jra55_iaf.git
[submodule "control/025deg_jra55_iaf"]
	path = control/025deg_jra55_iaf
	url = https://github.com/COSIMA/025deg_jra55_iaf.git
