#
oceout*
iceout*
atmout*
debug*
*.nc
INPUT
RESTART
ice_diag.d
ice_diag_out
logfile.000000.out
nout.000000
time_stamp.out
ocean*.nc.*

*.swp
input

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

payu-experiments

