[submodule "src/cice4"]
	path = src/cice4
	url = https://github.com/OceansAus/cice4.git
[submodule "src/mom"]
	path = src/mom
	url = https://github.com/BreakawayLabs/mom.git
[submodule "src/oasis3-mct"]
	path = src/oasis3-mct
	url = https://github.com/OceansAus/oasis3-mct.git
[submodule "src/matm"]
	path = src/matm
	url = https://github.com/OceansAus/matm.git
