[submodule "src/mom"]
	path = src/mom
    url = https://github.com/aekiss/MOM5.git
[submodule "src/oasis3-mct"]
	path = src/oasis3-mct
	url = https://github.com/aekiss/oasis3-mct.git
[submodule "src/matm"]
	path = src/matm
	url = https://github.com/aekiss/matm.git
[submodule "src/cice5"]
	path = src/cice5
	url = https://github.com/aekiss/cice5.git
[submodule "control/1deg_jra55_ryf"]
	path = control/1deg_jra55_ryf
	url = https://github.com/OceansAus/1deg_jra55_ryf.git
	branch = master
[submodule "control/01deg_jra55_ryf"]
	path = control/01deg_jra55_ryf
	url = https://github.com/OceansAus/01deg_jra55_ryf.git
[submodule "control/025deg_jra55_ryf"]
	path = control/025deg_jra55_ryf
	url = https://github.com/OceansAus/025deg_jra55_ryf.git
[submodule "control/1deg_core_nyf"]
	path = control/1deg_core_nyf
	url = https://github.com/OceansAus/1deg_core_nyf.git
[submodule "tools/esmgrids"]
	path = tools/esmgrids
	url = https://github.com/DoublePrecision/esmgrids.git
